<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario d-flex flex-column justify-content-center">
    <article class="jumbotron form-group d-flex flex-column justify-content-center text-center mx-auto">
        Hola, Bienvenid@ <br>
    </article>
    <div class="form-group mx-auto">
        <input id="nombre" type="text" formControlName="nombre" class="form-control text-center" placeholder="¿Cuál es tu nombre?">
    </div>
    <div class="form-group mx-auto">
        <input id="edad" type="text" formControlName="edad" class="form-control text-center" placeholder="¿Cuál es tu edad?">
    </div>
    <div class="form-group mx-auto">
        <input id="distrito" type="text" formControlName="distrito" class="form-control text-center" placeholder="¿Cual es tu distrito?">
    </div>     
    <button class="button btn btn-outline-info mx-auto rounded" type="submit" >Guardar</button>
</form>